In [1]:
#set program in python
s={1,'a',2}
p={}
print(type(s))
print(type(p))

<class 'set'>
<class 'dict'>

In [17]:
#program for convert list to tuple
s1=[1,2,3,'a','A',1,"A"]
s2=tuple(s1)
print(s2)

#convert list to set
s3=set(s1)
print(s3)

#convert tuple to list
t1=('a','b',1,2,'ee','a',1,6,7)
t2=list(t1)
print(t2)

#convert tuple to set
t3=set(t1)
print(t3)

(1, 2, 3, 'a', 'A', 1, 'A')
{1, 2, 3, 'a', 'A'}
['a', 'b', 1, 2, 'ee', 'a', 1, 6, 7]
{1, 2, 6, 7, 'a', 'b', 'ee'}

In [8]:
#create empty set in python
s3=set()
print(type(s3))
s4=set([])
print(type(s4))

<class 'set'>
<class 'set'>

In [10]:
# symentic diffrence in set
ss1={'cat','dog1','cow','COW'}
ss2={0,2,4,6,8}
ss3={1,2,3,4,5}
ss4={'cat2','dog1','dog'}

print(ss1^ss2)

{0, 2, 4, 6, 8, 'cow', 'COW', 'dog1', 'cat'}

In [11]:
#practice of the set in python
print(ss1|ss2)
print(ss2&ss3)
print(ss1-ss4)
print(ss4-ss1)
print(ss1^ss4)
print(ss4^ss1)

{0, 2, 'COW', 4, 6, 8, 'dog1', 'cow', 'cat'}
{2, 4}
{'COW', 'cow', 'cat'}
{'dog', 'cat2'}
{'COW', 'dog', 'cow', 'cat2', 'cat'}
{'COW', 'dog', 'cow', 'cat2', 'cat'}